header{
    width: 1330px;
    height: auto;
    margin-top: 20px;
    background-color: skyblue;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    float: left;
}

h1{
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    width: 433px;
    height: 300px;
}

.tumresimler{
    width: 1330px;
    height: auto;
}
img{
    width: 433px;
    height: 300px;
}
.socialimg{
    width: 433px;
    height: 400px;
}

p{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
}

h2{
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color:skyblue;
}

#sportsdiv{
    margin-top: 10px;
    width: 1000px;
    height: auto;
    padding-left: 350px;
    float: left;
}

#sportsimg{
    margin-top: 10px;
    width: 630px;
    height: auto;
    float: left;
}

#sportslist{
    float: left; 
    width: 50px; 
    height: auto; 
    margin: 10px auto 0 auto;
}

ul{
    list-style: none;
    margin-left: 550px;
}
li{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
}

#marginust{
    margin-top: 90px;
    float: left;
    width: 1330px;
    height: auto;
    background-color:teal;
}
footer{
    float: left;
    width: 1330px;
    height: auto;
    background-color:teal;
    
}
#footerp{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    padding-left: 430px;
}

