header{
    width: 1330px;
    height: auto;
    margin-top: 20px;
    background-color: skyblue;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    float: left;
}

h1{
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    width: 433px;
    height: 300px;
}

.tumresimler{
    width: 1330px;
    height: auto;
}
img{
    width: 433px;
    height: 300px;
}

footer{
    float: left;
    width: 1330px;
    height: auto;
    background-color:teal;
    
}
#footerp{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    padding-left: 430px;
}

