#all{
    width: 1330px;
}

#rings{
    width:150px;
    height: auto;
}
.header1{ 
    background-color: rosybrown;
    width: 1330px; 
    height: auto; 
    padding: 10px;
}

p{
    font-family: 'Cabin', sans-serif;
}

.usttoparlayici{
    float: left;
    margin-left: auto;
    margin-right: auto;
}
.image{
    float: left;
    margin-left: 10px;
    margin-right: auto;
}

.h1{
    float: left;
    text-align: center;
    margin-left: auto;
}