#all{
    width: auto;
    height: auto;
}

#rings{
    width:200px;
    height: auto;
}
.header1{ 
    float: left;
    width: 750px; 
    height: auto; 
    padding: 10px 300px;
}

p{
    font-family: 'Cabin', sans-serif;
}

.usttoparlayici{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.image{
    float: left;
    margin-left: auto;
    margin-right: 10px;
}

.h1{
    float: left;
    text-align: center;
    margin-left: auto;
    width: auto;
    height: auto;
}

nav{
    width: 960px;
    height: auto;
    background-color:skyblue;
    float: left;
    padding-left: 370px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}
a{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    font-weight: bolder;
}

.image{
    position: relative;
    float: left;

}
h2{
    position: absolute;
    top: 140px;
    font-family: 'Cabin', sans-serif;
    font-size: 55px;
    left: 400px;
}

h3{
    position: absolute;
    top: 300px;
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    left: 40px;
}