#all{
    width: auto;
    height: auto;
}

#rings{
    width:200px;
    height: auto;
}
.header1{ 
    float: left;
    width: 750px; 
    height: auto; 
    padding: 10px 300px;
}

p{
    font-family: 'Cabin', sans-serif;
}

.usttoparlayici{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.image{
    float: left;
    margin-left: auto;
    margin-right: 10px;
}

.h1{
    float: left;
    text-align: center;
    margin-left: auto;
    width: auto;
    height: auto;
}

nav{
    width: 960px;
    height: auto;
    background-color:skyblue;
    float: left;
    padding-left: 370px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}
a{
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
}
a:hover{
    font-weight: bolder;
}

#arkaplan{
    opacity: 0.5;
    width: 1330px;
    height: auto;
    position: relative;
}

#motto{
    
    font-family: 'Cabin', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
}

h3{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}