#all{
    width: auto;
    height: auto;
}

#rings{
    width:200px;
    height: auto;
}
.header1{ 
    float: left;
    width: 750px; 
    height: auto; 
    padding: 10px 300px;
}

p{
    font-family: 'Cabin', sans-serif;
}

.usttoparlayici{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.image{
    float: left;
    margin-left: auto;
    margin-right: 10px;
}

.h1{
    float: left;
    text-align: center;
    margin-left: auto;
    width: auto;
    height: auto;
}

nav{
    float: left;
    background: mediumturquoise;
    margin: 0 auto 0 auto;
}

a{
    font-family: 'Cabin', sans-serif;
    font-size: 30px;
}

